# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Docker
*.log
**/tmp
**/temp
.dockerignore

# Ambiente
.env

# Banco de Dados
database/data/
*.sql

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Pastas de build temporárias
dist/
build/
